.bg {
  /* background-color: rgb(227, 98, 47); */
  display: flex;
  flex-direction: column;
}
.navbar {
  background-color: lightgray;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  height: 20px;
  width: 100%;
  background-color: rgb(227, 98, 47);
}
